@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: ease-in-out 0.5s all;
}

body{
    background-image: url(Backgrounde2.png);
    background-size: cover;


}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding: 40px;
    gap: 12px;
    margin-bottom: 10px;
 

}

.idtext1 {
    display: none;
}


.icon {
    width: 300px;
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
    text-align: center;
    border-radius: 15px;
    box-shadow: black 5px 5px 5px;
}

.pokeball {
    display: none;
}


img{

    width: 19vw; 
    
}


#eevee{
 
    background-color:  #e69900;
}

#Raichu {
    background-color: #e6e600;
    
}
#Snorlax {
    background-color: #2e2eb8;
    
}
#jigglypuff {
    background-color: #ff00ff;
}

#Psyduck {
    background-color:  #b3b300;
}

#Squirtle {
    background-color:  #00e6e6;
}

#Weedle {
    background-color: #ffbf00;
}

#Charmander {
    background-color: orange
}

#Caterpie {
    background-color: green;
}

#meowth {
    background-color: tan
}

#Rattata {
    background-color: rgb(175, 7, 208)
}

#Pidgeot {
    background-color: brown;
}

#Psyduck:hover {
    background-image: url(background\ hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
    
}

#Raichu:hover {
    background-image: url(background\ hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
    
}

#Snorlax:hover {
    background-image: url(background\ hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
    
}

#jigglypuff:hover {
    background-image: url(background\ hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
    
}

#eevee:hover {
    background-image: url(background\ hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
    
}

#Psyduck:hover {
    background-image: url(background\ hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
    
}

#Squirtle:hover {
    background-image: url(background\ hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
    
}

#Weedle:hover {
    background-image: url(background\ hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
    
}

#Charmander:hover {
    background-image: url(background\ hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
    
}

#Caterpie:hover {
    background-image: url(background\ hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
    
}

#meowth:hover {
    background-image: url(background\ hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
    
}

#Rattata:hover {
    background-image: url(background\ hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
    
}

#Pidgeot:hover {
    background-image: url(background\ hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
}

.typecontainer{
    display: none;
      }
  
      .type{
          display: none;
    
      }
  
      #lightning {
       display: none;
      }


      @media (max-width: 1400px) {
        .icon{
            width: 250px;
            padding: 5px;
            margin: 5px;
            flex-grow: 1;
            }
    
        img{
            width: 19vw;
        }
        
        .pokeball .type{
            display: none;
        }
    
    }
  

@media screen and (max-width: 1000px) {
    .container{
        display: flex;
        width: 100%;
        margin: 10px;
        flex-flow: column;
        flex-wrap: wrap;
        justify-items: center;
        gap: 4px;
    }   

    img {
        max-width: 20%;
        max-height: 20%;
        overflow: hidden;
    }



    .pokeball {
        display: block;
        width: 10%;
    }



    .idtext1 {
        display: block;
        color: rgb(255, 246, 246);
        font-size: 1.5rem;
        font-family: Oswald;
        font-weight: bold;
        text-shadow: black 2px 2px;

    }
    
    .icon {
        display: flex;
        width: 90%;
        margin: 10px;
        align-items: center;
        image-orientation: inherit;
        content: inherit;
        justify-content: space-between;
    }

    .typecontainer{
  display: none;
    }

    .type{
        display: none;
  
    }



}

@media screen and (max-width:  800px) {
    .flex-container {
        width: 100%;
        margin: 2rem auto;
        display: flex;
        gap: 10px;
        flex-flow: column;
        flex-wrap: wrap;
        justify-items: center;
    }   
    
    img {
        max-width: 50%;
        overflow: hidden;
    }
    
    .icon {
        display: flex;
        width: 90%;
        height: auto;
        margin: 10px;
        align-items: center;
        image-orientation: inherit;
        content: inherit;
       flex-flow: column;
        justify-content: space-between;
    }


    .pokeball{
        display: none;
    }

    .pokename{
        display: block;
        font-size: 200%;
        font-family: Plus Jakarta Sans;
        font-weight: bold;
        color: white;
        text-shadow: black 2px 2px 2px;
    }

    .typecontainer{
        display: block;
        align-items: center;
        display: flex;
        margin: 5px;
        
    }

    .type{
        display: flex;
        justify-content: center;
        gap: 5px;
        margin: 5px;
        font-family: Oswald;
        font-weight: bold;
        color: white;
        text-shadow: black 2px 2px;

    }

    #lightning {
        display: block;
        background-color: rgb(196, 196, 21);
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 15px;
    }

    #Normal {
        display: block;
        background-color: rgb(125, 124, 128);
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 15px;

    }

    #Fairy {
        display: block;
        background-color: rgb(225, 17, 114);
        padding-left: 48px;
        padding-right: 48px;
        border-radius: 15px;

    }

    #Water {
        display: block;
        background-color: rgb(84, 7, 227);
        padding-left: 48px;
        padding-right: 48px;
        border-radius: 15px;

    }

    #Bug {
        display: block;
        background-color: green;
        padding-left: 48px;
        padding-right: 48px;
        border-radius: 15px;
    }

    #POOISY {
        display: block;
        background-color:purple;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 15px;
      
    }
    #Fire {
        display: block;
        background-color:rgb(229, 4, 8);
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 15px;
    }
    #Flying {
        display: block;
        background-color: rgb(13, 168, 220);
        padding-left: 45px;
        padding-right: 45px;
        border-radius: 15px;
    }
}


