*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Container {
    width: 90vw;
    margin: 0 auto;
}

nav, .Container{ 
    display: flex;
    justify-content: space-between;
}

.Menu-list{ 
    display: flex;
    
   

}

nav{
    
    height: fit-content;
    background-color: maroon;
    color: white;

}

.Menu-item {
    list-style: none;
    padding: 8px 10px;
   
}

.Menu-links {
   
    color: white;
    text-decoration: none;
}

.Logo {
    font-size: 1.2rem;
    padding: 8px 0px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr, 1fr, 1fr, 1fr;  
    grid-template-rows: 1fr, 1fr, 1fr;
   
    flex-direction: column;
    margin: 20px;
    gap: 10px;
    justify-content: center;
    background-color: black;

}


.mainpicture{ 

    text-align: center;
   margin-top: 10px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    
   
    
}

.mainpic{
    width: 400px;

  
    
}

.subpicture {
    grid-column: 2/4;
    grid-row: 1/5;
    

}


.subpic{
    width: 20vw;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}


.hero {

    border-radius: 20px;
    display: flex;
    margin: 20px;
    flex-direction: column;
    gap: 20px;
    
}

#phoenixpicture {
   
    object-fit: cover;

}

#sagepicture {
   
    object-fit: cover;
}

#yorupicture {
 
    object-fit: cover;
}

#astrapicture {
   
    object-fit: cover;
}

#clovepicture {
   
    object-fit: cover;
}


  #phoenixpic,
  #sagepic,
  #yorupic,
  #astrapic,
  #clovepic {
    
    width: 10vw;
    height: auto;
    border-radius: 10px;
  }